<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Wordle Guess Optimizer</title>
</head>
<body>
    <!-- PAGE CONTAINER -->
    <div class="container">

        <!-- H1 -->
        <div class="p-3">
            <h1>Wordle Guess Optimizer</h1>
        </div>

        <!-- RANDOM PHRASE GENERATOR -->
        <div class="p-3 bg-dark" style="color: white">{{ random_phrase }}</div>

        <!-- FORM AND GUESS TABLES -->
        <div class="row">

            <!-- FORM -->
            <div class = "col">
                <form method="POST">
                    <div class="form-group bg-light">
                        <div class="p-1 form-label">
                            <label for="guessField" class="form-label">What was your guess? </label>
                            <input type="text" id="guess" name="guessedWord"> 
                        </div>
                        <div class="mb-3 p-1">
                            <label for="wrongLettersField" class="form-label">Which letters are grey? </label>
                            <input type="text" id="wrongLetters" name="wrongLetters">
                        </div>
                        <div class="mb-3 p-1">
                            <label for="rightSpotsField" class="form-label">Which letters are green? Leave blank if none. </label>
                            <input type="text" id="right_spots" name="right_spots">
                        </div>
                        <div class = "mb-3 p-1">
                            <button type="submit" class="btn btn-success" style="font-weight: 600">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- GUESS TABLE -->
            <div class = "col">
                <div>
                    <table id="data" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Guesses</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for g in guess %}
                            <tr>
                            <td>{{ g }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-warning"><a  href="{{ url_for('reset') }}" class="text-decoration-none" style="color: black; font-weight: 600;">Clear</a></button>
                </div>
            </div>
        </div>

        <!-- WORD OPTIMIAZTION TABLE -->
        <div>
            <table id="data" class="table table-striped">
                <caption>"Score" is a relative metric based on the words that are left. No word has the same score throughout the guessing process.</caption>
                <thead>
                <tr>
                    <th>Word</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                {% for r in result %}
                    <tr>
                    <td>{{ r }}</td>
                    <td>{{ result[r]|string }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>