<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Translator</title>
</head>
<body>
    <div class="container">
        <h1>Wordle Helper</h1>
        <div class="p-3 bg-dark" style="color: white">{{ random_phrase }}</div>
        <div>
            <form method="POST">
                <div class="form-group border bg-light">
                    <div class="p-3">
                        <label for="guessField">What was your guess? </label>
                            <input type="text" id="guess" name="guessedWord"> 
                    </div>
                    <div class="p-3">
                        <label for="wrongLettersField">Which letters are grey? </label>
                        <input type="text" id="wrongLetters" name="wrongLetters">
                    </div>
                    <div class="p-3">
                        <label for="rightSpotsField">Which letters are green? Leave blank if none. </label>
                        <input type="text" id="right_spots" name="right_spots">
                    </div>
                    <div class="p-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <table id="data" class="table table-striped">
                <thead>
                <tr>
                    <th>Word</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                {% for r in result %}
                    <tr>
                    <td>{{ r }}</td>
                    <td>{{ result[r] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>